/*BG Color*/
html, body, a._sWr, 
#fbar, #appbar, #hdtb-tls:hover, #hdtb, #gt-appbar, #gt-text-c, 
#gt-apb-main, #gt-ft-res,
._Fmb, ._Fmb:hover, ._Fmb.selected, ._Fmb.selected:hover, .sbsb_a,
.ab_dropdown, .nbc, ._dMq, #hdtb-more-mn a:hover, .hdtbItm.hdtbSel:hover, 
.hdtbItm a:hover, #cdrlnk:hover, .hdtb-mn-o, .hdtb-mn-c, .hdtbItm,
.spch, .gb_df, .OMOBOQD-t-c, .OMOBOQD-s-e .popupContent, .OMOBOQD-R-b,
.OMOBOQD-n-j, .OMOBOQD-c-b, .OMOBOQD-r-b, .OMOBOQD-c-r, .OMOBOQD-o-J,
.OMOBOQD-Ib-b, input.gwt-TextBox, .OMOBOQD-Kb-c, .OMOBOQD-o-u, ._qgo,
.OMOBOQD-o-d, .OMOBOQD-o-G, .W8uRXd, .TysE9c, .TRpUHb, .goog-flat-menu-button,
.jfk-button-standard.jfk-button-disabled, .jfk-button-standard,
.gt-hl-layer, span.ita-kd-inputtools-div, .goog-menu, .sfbgx, .gb_jf,
span.ita-kd-inputtools-div:hover {
	background-color: #000 !important;
}
#gt-res-wrap{
	background-color: #030303 !important;
}

/*Header*/
#hdtbSum, #hdtb, 
.sfbgg, .gb_la, .OMOBOQD-p-e {
	background-color: #0A0A0A !important;
}

#gbsfw.gb_Ic, .cd-exp-ar,
.gb_Z:hover .gb_4, .gb_zb {
	background-color: #555 !important;
}
/*Bg Color - Popup Container Main*/
.CxSKqd.PNdSh, .CxSKqd.Wj1LYb, .rg_l, .SEKzW{
	background-color: #303030 !important;
}

/*Border color*/
#gt-res-wrap,
#gbsfw.gb_Ic, #hdtb-msb .hdtb-tl-sel, #hdtb-msb .hdtb-tl-sel:hover,
div.lst-c, #hdtb-tls:active, #hdtb-tls:focus, #hdtb-tls:hover, 
.jhp input[type="submit"], .sbdd_a input, .gbqfba, .ab_dropdown, .gb_Ha,
._Fmb, ._Fmb:hover, ._Fmb.selected, ._Fmb.selected:hover, .nbc,
.gb_Z:hover:not(.gb_0) a, .gb_ha, .hdtb-mn-o, .hdtb-mn-c, .th, .ab_button,
._dMq, #hdtb-more-mn a:hover, .hdtbItm.hdtbSel:hover, ._kvc,
.hdtbItm a:hover, #cdrlnk:hover, .gbqfqw, #gbqfb, #gbqfb:active, 
#gbqfb:hover, .OMOBOQD-t-c, .OMOBOQD-s-e, .OMOBOQD-c-b, ._sgo,
.OMOBOQD-cb-k.OMOBOQD-cb-h.OMOBOQD-cb-q, .OMOBOQD-c-r, .jfk-tooltip,
.OMOBOQD-cb-k.OMOBOQD-cb-h.OMOBOQD-cb-q:hover, .OMOBOQD-Kb-c,
.jfk-button-standard.jfk-button-disabled, .jfk-button-standard,
.OMOBOQD-cb-k.OMOBOQD-cb-h, .OMOBOQD-o-u,#gt-src-wrap, .goog-flat-menu-button,
#gt-res-wrap.full-edit, #newu, #gt-pb-sb, .pb-tgt-td textarea {
	border-color: #555 !important;
}

#gt-appbar, #hdtb,
div.gt-baf-sep,
.gb_ma, .OMOBOQD-R-e, .OMOBOQD-o-J, ._bXm {
	border-bottom-color: #555 !important;
}

#fbar, #gt-ft-res, 
.kp-blk .xpdclose ._wle, .kp-blk .xpdopen ._xle, ._bXm, ._qgo,
.goog-menuseparator, .cd-exp-ar:after, .cd-exp-ar:before,
.OMOBOQD-w-d, .OMOBOQD-Xb-b, .OMOBOQD-o-d, .OMOBOQD-o-G, .gt-hl-layer {
	border-top-color: #555 !important;
}
.gt-hl-layer {
	border-bottom-color: RGBA(0,0,0,0) !important;
}
.gt-hl-layer, .goog-toolbar-separator {
	border-left-color: #555 !important;
}
.gt-hl-layer {
	border-right-color: RGBA(0,0,0,0) !important;
}

/*Text Color*/
body, tr.accounts, 
#chm, #footer a, #gb#gb a.gb_P, #gb#gb span.gb_P, #gb#gb a.gb_O, #source,
.ftl, .gbqfba, .action-menu-button, .v7k2xf, .Vz68Kb, .gb_ha,
.action-menu-item a.fl, .action-menu-toggled-item div, a.duf3,
#gb a.gb_la, #gb a.gb_la:visited, #gb a.gb_la:active, ._pJs,
#gb a.gb_ma, #gb a.gb_ma:visited , .gMG7Fd .wh73ab, ._hJs, .ab_button,
.gb_Ha, #gb a.gb_Ha.gb_Ha, .gb_Ia, .hdtbItm.hdtbSel, .OMOBOQD-t-k,
#hdtb .hdtbItm a, #hdtb-more-mn a, #cdrlnk, .OMOBOQD-Xb-f, .kno-ecr-pt,
#accessDeniedHeader,
.OMOBOQD-w-j:hover, .OMOBOQD-n-g, .OMOBOQD-cb-k.OMOBOQD-cb-h, ._pk,
.OMOBOQD-Kb-a, .OMOBOQD-Kb-b, .OMOBOQD-p-d, .OMOBOQD-p-b, .gt-def-row,
.OMOBOQD-t-g, .OMOBOQD-ib-l, .OMOBOQD-ib-q, .OMOBOQD-sb-b, .gt-ex-text,
.OMOBOQD-ab-F, .fK1S1c, .EK0Xed, .b849F, .nx9Bl, .gt-card-ttl-txt,
.jfk-button-standard, .goog-option-selected .goog-menuitem-content,
.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem,
._xdb a.fl, .title, .gt-baf-word-clickable, .gt-rw-span {
	color: #AAA !important;
}

/*Text Color - SubSelection/SubText*/
#gt-otf-switch,#message,
.s, #brs .med, .OlDqke, .OMOBOQD-t-k:hover, .OMOBOQD-p-g,
.qG5jdb {
	color: #979797 !important;
}
#result_box,
.OMOBOQD-xb-e, .OMOBOQD-G-o .OMOBOQD-G-m, .M48NPe {
	color: RGBA(238, 238, 238,0.5) !important;
}

/*Result Date0*/
.f {
	color: #AAA !important;
}
/*Bolded*/
.s .st em, .st.s.std em {
	color: #909090 !important;
}

/*Text Color - LinkText - Main*/
a.l._PMs, .fl a, span._Xbe._ZWk.kno-fv a, ._VAp a:link, #rhs a._FAp,
.card-section .brs_col ._e4b a, .GQb a, .sbsb_i, ._OMs, a.spell, a.fl,
.rc .r a, a.iu-card-header, a.iu-card-header:hover, a.iu-card-header:visited,
._Iqg, ._W5e a, a ._NRl, a.l{
	color: #4F9CFF !important;
}

cite, cite a:link, cite a:visited, .cite, .cite:link {
	color: #00cc40 !important;
}

/*Custom add*/
/*Search Box*/
div.lst-c, ._dMq, .gbqfqw, ._sgo {
	border-style: solid !important;
	border-width: 1px !important;
}

div.lst-c, .sbib_a, .sbibod, .gbqfqw {
	background-color: #606060 !important;
}

input, 
div.lst-c, .sbib_a, .sbibod, .gbqfqw {
	color: #EEE !important;
}

/*Button*/
.ab_button, a.ab_button:visited,
#gbqfb, #gbqfb:visited, 
.jhp input[type="submit"], .sbdd_a input, .gbqfba, .gb_Ha ,
.ksb, .OMOBOQD-cb-k.OMOBOQD-cb-h, .OMOBOQD-c-b, .jfk-button-standard,
.goog-flat-menu-button, .continue input{
	background-image: -webkit-linear-gradient(top,#050505,#010101) !important;
}
/*Btn - selected Btn*/
.ab_button:hover, .ksb:active, .ksb:hover,
#hdtb-tls:active, #hdtb-tls:focus, #hdtb-tls:hover, #gbqfb:hover,
#hdtb-msb .hdtb-tl-sel, #hdtb-msb .hdtb-tl-sel:hover, #gbqfb:active,
#gt-sl-gms-menu .goog-menuitem-group .goog-option-selected, 
#gt-tl-gms-menu .goog-menuitem-group .goog-option-selected {
	background-image: -webkit-linear-gradient(top,#151515,#111) !important;
}
/*Btn - hovered text*/
.ab_button:hover, .ksb:active, .ksb:hover,
.hdtbItm label:hover, .hdtbItm a:hover, #hdtb-more-mn a:hover, 
#hdtb .hdtb-mitem a:hover, .hdtb-mn-hd:hover, #hdtb-more:hover, 
#hdtb-tls:hover, #gbqfb:hover, .OMOBOQD-w-j.OMOBOQD-w-v,
#hdtb-msb .hdtb-tl-sel, #hdtb-msb .hdtb-tl-sel:hover,
.fbar a:hover, #fsett a:hover, .OMOBOQD-t-e:hover, 
.jhp input[type="submit"]:hover, .sbdd_a input:hover, 
.gbqfba:hover, .gbqfba:focus, .jfk-button-standard:hover {
	color: #A3A3A3 !important;
}

/*Popup container*/
/*Arrow*/
.goog-flat-menu-button-dropdown {
	border-bottom-color: #202020 !important;
}

div.gb_lb, .goog-flat-menu-button-dropdown {
	border-bottom-color: #202020 !important;
}
/*Bg*/
.OMOBOQD-w-h,
.gV6pJf, .gb_ka, .fEjTrb, .gb_ha, .hdtbSel, .hdtbSel #cdrlnk {
	background-color: #202020 !important;
}

/*SVG color Fill*/
.iWO9fc .mUbCce svg, svg.OMOBOQD-t-m path, svg.OMOBOQD-t-q path {
	fill: #8C8C8C !important;
}

.fKz7Od, .Z5nyse, .XSVuue {
	fill: #808080 !important;
}

._Fqg svg path {
	fill: #4F9CFF !important;
}

/*DropDawn Menu Arrow*/
.action-menu .mn-dwn-arw {
	border-top-color: #555 !important;
	border-bottom-color: #555 !important;
}
/*DDM Hovered Selection*/
.OMOBOQD-w-j:hover, .OMOBOQD-c-d:hover, .OMOBOQD-c-v:hover,
.action-menu-item:hover, #hdtb-more-mn a:hover, .sbsb_d,
.hdtbItm.hdtbSel:hover, .hdtbItm a:hover, #cdrlnk:hover,
.OMOBOQD-Kb-e, .OMOBOQD-Kb-a:hover, .OMOBOQD-Kb-b:hover,
.OMOBOQD-p-e.OMOBOQD-p-h.datePickerDayIsHighlighted, .OMOBOQD-p-e:hover,
.OMOBOQD-tb-c .OMOBOQD-tb-f:hover, .goog-toolbar-button-hover,
#gt-src-listen:hover, #gt-res-listen:hover,
.goog-menuitem-highlight, .goog-menuitem-hover {
	background-color: #222 !important;
}
.OMOBOQD-w-j.OMOBOQD-w-v {
	background-color: #292929 !important;
}

/*Invert*/
.eI, .dI, .OMOBOQD-w-m .OMOBOQD-w-i, .OMOBOQD-w-k .OMOBOQD-w-i,
.OMOBOQD-w-o .OMOBOQD-w-i, .OMOBOQD-c-A, .OMOBOQD-c-e.OMOBOQD-c-d:after, 
.OMOBOQD-c-e.OMOBOQD-c-v:after, .OMOBOQD-G-n.OMOBOQD-Bb-a, .gb_Ec,
.OMOBOQD-Kb-a:before, .OMOBOQD-o-I.OMOBOQD-o-a::before, .gb_fa .gb_b,
.datePickerPreviousButton, .datePickerNextButton, .ita-kd-img,
.trans-listen-button .jfk-button-img, .clear-button .jfk-button-img,
.trans-swap-button .jfk-button-img, .copy-button .jfk-button-img,
.share-button .jfk-button-img, .pb-sw .jfk-button-img, .gb_Cc .gb_b.gb_4b,
.gb_ea .gb_b {
	filter: invert(100%) !important;
}

.datePickerPreviousButton, .datePickerNextButton {
	background-color: #FFF !important;
}

/*Hover Effect*/
/*Img*/
g-img img._WCg, img.rg_i, img#lu_map,
.qpd, .dOc, ._SHs img._RGs {
	filter: brightness(30%) !important;
}

/*Hovered Img*/
img#lu_map:hover,
img.rg_i:hover, .OMOBOQD-ab-H, .OMOBOQD-ab-N, .OMOBOQD-ab-I, .OMOBOQD-ab-K,
.g:hover g-img img._WCg, ._JGs:hover ._SHs img._RGs,
.o-ms-fk:hover .qpd, .o-ms-fk:hover .dOc {
	filter: brightness(80%) !important;
}

/*ScrollBar*/
::-webkit-scrollbar-thumb {
	background: #333 !important;
}
::-webkit-scrollbar-thumb:hover {
	background: #444 !important;
}
::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
}
::-webkit-scrollbar-track-piece {
	background: RGBA(0,0,0,0) !important;
}